{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
        <section class="miri-ui-kit-section">
            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="card pricing-card">
                        <div class="card-body text-center px-5 py-4">
                            <span class="pricing-card-icon rounded-circle mb-4">
                                <i class="mdi mdi-flag-outline"></i>
                            </span>
                            <p class="mb-0"><span class="h1">Free</span></p>
                            <p class="h5 mb-5"> Formule Gratuite</p>
                            <ul class="list-group list-group-flush mb-4">
                                <li class="h5 mb-5 border-top-0">Toujours et partout accessible </li>
                                <li class="h5 mb-5">Outil de génération de profil de consommation</li>
                                
                            </ul>
                           <!--button class="btn btn-sm btn-danger">Buy Now</button-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card pricing-card">
                        <div class="card-body text-center px-5 py-4">
                            <span class="pricing-card-icon rounded-circle mb-4">
                                <i class="mdi mdi-ring"></i>
                            </span>
                            <p class="mb-0"><span class="h1">200DT</span>/Mois</p>
                            <p class="h5 mb-5">Formule= 1 point</p>
                            <ul class="list-group list-group-flush mb-4">
                                <li class="h5 mb-5 border-top-0">Toujours et partout accessible </li>
                                <li class="h5 mb-5">Support et Formations</li>
                                <li class="h5 mb-5">Enregister jusqu'à 20 projets</li>
                                <li class="h5 mb-5">Outil de génération de profil de consommation</li>
                                <li class="h5 mb-5">Intégration d'un seul point de consommation</li>
                                <li class="h5 mb-5">Affichage des graphiques</li>
                                <li class="h5 mb-5">Rapport détaillé téléchargeable sur le projet</li>
                            </ul>
                            <!--button class="btn btn-sm btn-danger">Buy Now</button-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card pricing-card">
                        <div class="card-body text-center px-5 py-4">
                            <span class="pricing-card-icon rounded-circle mb-4">
                                <i class="mdi mdi-ring"></i>
                            </span>
                            <p class="mb-0"><span class="h1">300DT</span>/Mois</p>
                            <p class="h5 mb-5"> Formule= 3 points </p>
                            <ul class="list-group list-group-flush mb-4">
                                <li class="h5 mb-5 border-top-0">Toujours et partout accessible </li>
                                <li class="h5 mb-5">Support et Formations</li>
                                <li class="h5 mb-5">Enregister jusqu'à 20 projets</li>
                                <li class="h5 mb-5">Outil de génération de profil de consommation</li>
                                <li class="h5 mb-5">Intégration jusqu'à 3 points de consommation</li>
                                <li class="h5 mb-5">Affichage des graphiques</li>
                                <li class="h5 mb-5">Rapport détaillé téléchargeable sur le projet</li>
                            </ul>
                            <!--button class="btn btn-sm btn-danger">Buy Now</button-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card pricing-card">
                        <div class="card-body text-center px-5 py-4">
                            <span class="pricing-card-icon rounded-circle mb-4">
                                <i class="mdi mdi-ring"></i>
                            </span>
                            <p class="mb-0"><span class="h1">450DT</span>/Mois</p>
                            <p class="h5 mb-5"> Formule> 3 points </p>
                            <ul class="list-group list-group-flush mb-4">
                                <li class="h5 mb-5">Toujours et partout accessible </li>
                                <li class="h5 mb-5">Support et Formations</li>
                                <li class="h5 mb-5">Enregister jusqu'à 20 projets</li>
                                <li class="h5 mb-5">Outil de génération de profil de consommation</li>
                                <li class="h5 mb-5">Intégration de plus de 3 points de consommation</li>
                                <li class="h5 mb-5">Affichage des graphiques</li>
                                <li class="h5 mb-5">Rapport détaillé téléchargeable sur le projet</li>
                            </ul>
                            <!--button class="btn btn-sm btn-danger">Buy Now</button-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
</div>
 <div class="col-xl-12 mb-4 mb-xl-0 align-content-center" >
        <div class="card">
            <div class="card-body">
                <table class="table table-hover tableFonctionnalitees marges">
                    <thead>
                        <tr>
                            <th class="text">Fonction</th>
                            <th class="text-center">Formule 1 Point</th>
                            <th class="text-center">Formule 3 points</th>
                            <th class="text-center">Formule > 3 points</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="installation-title title">
                            <td colspan="4" class="text-center">Installation PV</td>
                        </tr>
                        <tr class="installation">
                            <td class="partenaire">Définir un champ PV (localisation, orientation, puissance installée)</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                        <tr class="installation">
                            <td class="partenaire">Choisir le type d'intégration</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                        
                       
                        <tr class="installation">
                            <td class="partenaire">Définir jusqu'à 3 champs PV à la fois (orientation ou inclinaison différentes)</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                        <tr class="installation">
                            <td class="partenaire">Sauvegarder ses projets</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>

                        

                        <tr class="conso-title title">
                            <td colspan="4" class="text-center"> Consommation et Autoconsommation</td>
                        </tr>
                        <tr class="conso">
                            <td class="partenaire">Nombre de points de consommation</td>
                            <td class="text-center">1 seul point</td><td class="text-center">Jusqu'à 3points</td><td class="text-center">Plus que 3 points</td>
                        </tr>
                        <tr class="conso">
                            <td class="partenaire">Outil de génration de profil de consommation</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                        
                        <tr class="conso">
                            <td class="partenaire">Affichage des graphiques pour les différents flux de puissances</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                       
                        <tr class="conso">
                            <td class="partenaire" color="">Importer la courbe  de charge fournie par la STEG</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                       
                        <tr class="conso">
                            <td class="partenaire" color="">Afficher le tableau les données horaires des flux de puissance</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>

                                            <tr class="eco-title title">
                            <td colspan="4" class="text-center"> Étude Financiére </td>
                        </tr>
                        <tr class="eco">
                            <td class="partenaire">Calculer les différents indicateurs de rentabilité</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                        <tr class="eco">
                            <td class="partenaire">Simulation de financement avec dette</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                       

                        
                        <tr class="bilan-title title">
                            <td colspan="4" class="text-center"> Rapport </td>
                        </tr>
                        <tr class="bilan">
                            <td class="partenaire">Générer un rapport détaillé</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                        <tr class="bilan">
                            <td class="partenaire">Résumer les principaux résultats de l'étude</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                        <tr class="bilan">
                            <td class="partenaire">Exporter le rapport (PDF)</td>
                            <td class="text-center">X</td><td class="text-center">X</td><td class="text-center">X</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
 </div>                
{% endblock %}
