<div class="table-responsive">
    <table class="table align-items-center table-bordered ">
        <thead class="thead-light">
        <td>Date</td>
        <td>Consommation (kW)</td>
        <td>Production (kW)</td>
        <td>Auto-consommation (kW)</td>
        <td>Cedee (kW)</td>
        <td>Importee(kW)</td>
        </thead>
        <tbody id="datatable">
        </tbody>
    </table>
</div>
