<div class="table-responsive">
    <table class="table align-items-center table-bordered ">
        <thead class="thead-light">
        <td>Date</td>
        <td>Consommation Brute (kW)</td>
        <td>Production (kW)</td>
        <td>Auto-consommation (kW)</td>
        <td>Injectée dans le réseau (kW)</td>
        <td>Electricité achetée de la STEG(kW)</td>
        </thead>
        <tbody id="datatable">
        </tbody>
    </table>
</div>
