<div class="row align-content-center">
        <div class="col-xl-12 mb-4 mb-xl-12" >
            <div class="row align-content-center">
                <div class="col-xl-3 col-lg-6">
                </div>
                  <div class="form-group">
                    <div style="display: inline-block"> <label for="exampleFormControlSelect1" >Site</label></div>
                    <div style="display: inline-block"> <select class="form-control" id="SiteSelector"> </select></div>
                    
                   
                </div>
                
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <button  class="btn btn-lg" type="button" data-toggle="modal" data-target="#charts" id="graphiques" >Graphiques</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <button  class="btn btn-lg" type="button" data-toggle="modal" data-target="#myModal" id="tableaus" >Tableau</button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                </div>
            </div>
        </div>
    </div>    
    <div class="col-xl-12 mb-4 mb-xl-0 align-content-center" >
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col">
                <h3 class="font-weight-bold text-center ">Récapitulatif énergétique annuel</h3>
                <div class="table">
                    <table class="table align-items-center table-striped ">
                        <thead class="thead-light">
                        </thead>
                        <tbody>
                        <tr id="puissanceres">
                            <td class="font-weight-bold  ">Puissance:</td>
                        </tr>
                        <tr id="productible">
                            <td class="font-weight-bold  ">Productible :</td>
                        </tr>
                        <tr id="t_cd">
                            <td class="font-weight-bold  ">Taux de l’énergie cédée :</td>
                        </tr>
                        <tr id="prod25">
                            <td class="font-weight-bold  ">Production PV 25 ans</td>
                        </tr>
                        
                        <tr id="consommationS">
                            <td class="font-weight-bold  ">Consommation du site</td>
                        </tr>
                        <tr id="auto_consommationS">
                        <td class="font-weight-bold  ">Economies d'énergie du site</td>
                        </tr>
                        <tr id="importerS">
                            <td class="font-weight-bold  ">Energie importée de la STEG</td>
                        </tr>
                        <tr id="t_autoc">
                            <td class="font-weight-bold  ">Taux d’autoconsommation du site</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                </div>
                <div class="col">
                <h3 class="font-weight-bold text-center ">Récapitulatif financier annuel</h3>
                <div class="table">
                    <table class="table align-items-center table-striped ">
                        <thead class="thead-light">
                        </thead>
                        <tbody>
                        <tr id="capexres">
                            <td class="font-weight-bold  ">CAPEX:</td>
                        </tr>
                        <tr id="subvres">
                            <td class="font-weight-bold  ">Subvention:</td>
                        </tr>
                        <tr id="omres">
                            <td class="font-weight-bold  ">O&M:</td>
                        </tr>
                        <tr id="annuiteres">
                            <td class="font-weight-bold  ">Annuite :</td>
                        </tr>
                        <tr  id="f_r">
                            <td class="font-weight-bold  ">Facture de regularisation :</td>
                        </tr>
                        <tr id="coutproj">
                            <td class="font-weight-bold  ">Cout du projet sur 25 ans :</td>
                        </tr>
                        <tr id="vanres">
                            <td class="font-weight-bold  ">VAN sur 25 ans :</td>
                        </tr>
                        <tr  id="lcoe">
                            <td class="font-weight-bold  ">LCOE sur 25 ans :</td>
                        </tr>
                        <tr id="tricapres">
                            <td class="font-weight-bold  ">TRI sur les capitaux propres :</td>
                        </tr>
                        <tr id="trires">
                            <td class="font-weight-bold  ">TRI du projet :</td>
                        </tr>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
                 </div>   
                </div>
            </div>

        </div>
    </div>
    <button type="button" onclick="retourresult()" class="btn-secondary btn" style="width:100%">Retour</button>
<div class="modal resizer-handler" id="myModal" role="dialog">
    <div class="modal-dialog-scrollable">

    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tableau</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{ include('result/popuptables.html.twig') }}
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal  resizer-handler" id="charts" role="dialog">
    <div class="modal-dialog-scrollable modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Graphiques</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row align-content-center">
                    <div class="col-xl-12 mb-4 mb-xl-0">
                        <div class="card bg-gradient-primary shadow">
                            <div class="card-header bg-transparent">
                                <div class="row">
                                    <div class="col-xl-3 mb-3 mb-xl-3">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-primary btn-lg btn-block dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="lescourb">
                                                    Variables
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="lescourb">
                                                    <button class="dropdown-item" type="button" id="consomer" >Consommation Brute</button>
                                                    <button class="dropdown-item" type="button" id="produite">Production</button>
                                                    <button class="dropdown-item" type="button" id="autoconsomer">Auto-Consommation</button>
                                                    <button class="dropdown-item" type="button" id="cedee" >Injectée dans le réseau</button>
                                                    <button class="dropdown-item" type="button" id="importe" >Electricité achetée de la STEG</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 mb-12 mb-xl-12">
                                        </div>
                                        <div class="col-xl-1  mb-12 mb-xl-12">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-primary btn-block dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="lescourb">
                                                    Graphiques
                                                </button>
                                                <div class="dropdown-menu col-xl-12" aria-labelledby="lescourb">
                                                    <button type="button"  class="dropdown-item" id="time_series">Time series</button>
                                                    <button type="button" class="dropdown-item"  id="histograme">Histogramme</button>
                                                    <button type="button" class="dropdown-item"  id="heatmap">Heat map</button>
                                                    <button type="button"  class="dropdown-item" id="donutsChart">Donut Chart</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div  class="card-body">
                                    <div class="row">
                                        <div   class="col">
                                            <div id="chart_consomtation"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src={{ asset('build/js/transpose.js')}}></script>
    <script src={{ asset('build/js/plugins/jquery/dist/jquery.min.js') }}></script>
    <script>
       let btn=0;
        let consomation_heatmap1=[];
        let production_heatmap1=[];
        let auto_consomer_heatmap1=[];
        let cedee_heatmap1=[];
        let importer_heatmap1=[];
        let consomation_heatmap=[];
        let production_heatmap=[];
        let auto_consomer_heatmap=[];
        let cedee_heatmap=[];
        let importer_heatmap=[];
        let consomation=[];
        consomation[0]=[];
        consomation[1]=[];
        let production=[];
        production[0]=[];
        production[1]=[];
        let auto_consome=[];
        auto_consome[0]=[];
        auto_consome[1]=[];
        let cedee=[];
        cedee[0]=[];
        cedee[1]=[];
        let importer=[];
        importer[0]=[];
        importer[1]=[];
        let PH_consomation=[];
        let PH_production=[];
        let PH_auto_consome=[];
        let PH_cedee=[];
        let PH_importer=[];
        let PH_auto_consomeTmp=[];
        let PH_importerTmp=[];
        let PH_consomationTmp=[];
        let consomation_tmp=[];
        let production_tmp=[];
        let cedee_tmp=[];
        let importe_tmp=[];
        let auto_consome_tmp=[];
        let year =0;
        let consomationTot=[];
        let consomationTotTmp=[];
        let auto_consomeTotTmp=[];
        let importerTotTmp=[];
        let auto_consomeTot=[];
        let importerTot=[];
        let consomation_heatmap1Tot=[];
        let importer_heatmap1Tot=[];
        let auto_consomer_heatmap1Tot=[];
      
            let auto_consommationS =[];
                        let consommationS =[];
                        let importerS =[];
                        let t_auto =[];
        PH_production[0]=0;
        PH_production[1]=0;
        PH_production[2]=0;
        PH_production[3]=0;
        
        PH_cedee[0]=0;
        PH_cedee[1]=0;
        PH_cedee[2]=0;
        PH_cedee[3]=0;
        let presence_data=0;

        
        $("#consomer").on('click',function () {
            btn=1;
        });
        $("#produite").on('click',function () {
            btn=2;
        });
        $("#autoconsomer").on('click',function () {
            btn=3;
        });
        $("#cedee").on('click',function () {
            btn=4;
        });
        $("#importe").on('click',function () {
            btn=5;
        });
        $("#tableaus").on('click',function () {
            $('#datatable').empty();
             j=$("#SiteSelector").val();
            for (let i = 0; i < consomationTot[0].length ; i++) {
                $('#datatable').append("<tr><td>" +production[0][i]+"</td>"+
                    "<td>"+Math.round(consomationTot[j][i],3)+"</td>"+
                    "<td>"+Math.round(production[1][i],3)+"</td>"+
                    "<td>"+Math.round(auto_consomeTot[j][i],3)+"</td>"+
                    "<td>"+Math.round(cedee[1][i],3)+"</td>"+
                    "<td>"+Math.round(importerTot[j][i],3)+"</td>"+
                    +"</tr>"
                );
            }
        });

        $('#SiteSelector').change(function() {
           $('#auto_consommationS').empty();
           $('#consommationS').empty();
           $('#importerS').empty();
           $('#t_autoc').empty();
            j=$("#SiteSelector").val();

                       
           $('#auto_consommationS').append("<td>Economies d'énergie du site</td><td>"+Math.round(auto_consommationS[j],0)+"</td><td>kWh</td>");
            $('#consommationS').append("<td>Consommation du site</td><td>"+Math.round(consommationS[j],0)+"</td><td>kWh</td>");
            $('#importerS').append(" <td>Energie importée de la STEG</td><td>"+Math.round(importerS[j],0)+"</td><td>kWh</td>");
            $('#t_autoc').append(" <td>Taux d’autoconsommation du site</td><td>"+Math.round(t_auto[j]*100,2)+"</td><td>%</td>");
        });    
        

        let trace1 = {};
        let trace2 = {};
        let trace3 = {};
        let trace4 = {};
        let trace5 = {};
        let data=[];
        let layout={};

        console.log("consomation");
        console.log(consomation);
        console.log("consomationTot");
        console.log(consomationTot);
        console.log(consomationTot.length);
         

    $('#graphiques').on('click',function () {
       j=$("#SiteSelector").val();
    });


        $('#time_series').on('click',function () {

             j=$("#SiteSelector").val();
            
            data=[];
           
            data.push(trace1);
            trace2 = {
                type: "scatter",
                mode: "lines",
                name: 'Production',
                x: production[0],
                y: production[1],
                line: {color: '#FFC300'}
            };
            data.push(trace2);
            
          
            trace4 = {
                type: "scatter",
                mode: "lines",
                name: 'Injéctée dans le réseau',
                x: production[0],
                y: cedee[1],
                line: {color: '#900C3F'}
            };
            data.push(trace4) ;
           
            layout = {
                title: 'Time series',
                xaxis: {
                    autorange: true,
                    range: [production[0][0], production[0][production[0].length-1]],
                    rangeslider: {range: [production[0][0], production[0][consomation[0].length-1]]},
                    type: 'date'
                },
            };
            Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            k=j+1;
            Plotly.addTraces('chart_consomtation', {name: 'consommation Brute'.concat(k),x:production[0],y: consomationTot[j]});
            Plotly.addTraces('chart_consomtation', {name: 'Auto consommation'.concat(k),x:production[0],y: auto_consomeTot[j]});
            Plotly.addTraces('chart_consomtation', {name: 'Achetée de la STEG'.concat(k),x:production[0],y: importerTot[j]});

        
        });
        $('#histograme').on('click',function () {
             j=$("#SiteSelector").val();
            if (btn===1){
                trace1 = {
                    x: consomationTot[j],
                    name: 'consommation',
                    autobinx: true,
                    histnorm: "count",
                    marker: {
                        color: "rgba(255, 100, 102, 0.7)",
                        line: {
                            color:  "rgba(255, 100, 102, 1)",
                            width: 0.01
                        }
                    },
                    opacity: 0.5,
                    type: "histogram",
                };
                data = [trace1];
                layout = {
                    bargap: 0.05,
                    bargroupgap: 0.2,
                    barmode: "overlay",
                    title: "Consommation",
                    xaxis: {title: "Puissance"},
                    yaxis: {title: "Fréquence"}
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
            else
            if (btn===2){
                trace1 = {
                    x: production[1],
                    name: 'Production',
                    autobinx: true,
                    histnorm: "count",
                    marker: {
                        color: "rgba(255, 100, 102, 0.7)",
                        line: {
                            color:  "rgba(255, 100, 102, 1)",
                            width: 1
                        }
                    },
                    opacity: 0.5,
                    type: "histogram",
                };
                data = [trace1];
                layout = {
                    bargap: 0.05,
                    bargroupgap: 0.2,
                    barmode: "overlay",
                    title: "Production",
                    xaxis: {title: "Puissance"},
                    yaxis: {title: "Fréquence"}
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
            if (btn===3){
                trace1 = {
                    x: auto_consomeTot[j],
                    name: 'Auto consomer',
                    autobinx: true,
                    histnorm: "count",
                    marker: {
                        color: "rgba(255, 100, 102, 0.7)",
                        line: {
                            color:  "rgba(255, 100, 102, 1)",
                            width: 0.01
                        }
                    },
                    opacity: 0.5,
                    type: "histogram",
                };
                data = [trace1];
                layout = {
                    bargap: 0.05,
                    bargroupgap: 0.2,
                    barmode: "overlay",
                    title: "Auto consommation",
                    xaxis: {title: "Puissance"},
                    yaxis: {title: "Fréquence"}
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
            if (btn===4){
                trace1 = {
                    x: cedee[1],
                    name: 'Auto consommée',
                    autobinx: true,
                    histnorm: "count",
                    marker: {
                        color: "rgba(255, 100, 102, 0.7)",
                        line: {
                            color:  "rgba(255, 100, 102, 1)",
                            width: 0.01
                        }
                    },
                    opacity: 0.5,
                    type: "histogram",
                };
                data = [trace1];
                layout = {
                    bargap: 0.05,
                    bargroupgap: 0.2,
                    barmode: "overlay",
                    title: "Auto consommation",
                    xaxis: {title: "Puissance"},
                    yaxis: {title: "Fréquence"}
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
            if (btn===5){
                trace1 = {
                    x: importerTot[j],
                    name: 'Achetée de la STEG',
                    autobinx: true,
                    histnorm: "count",
                    marker: {
                        color: "rgba(255, 100, 102, 0.7)",
                        line: {
                            color:  "rgba(255, 100, 102, 1)",
                            width: 0.01
                        }
                    },
                    opacity: 0.5,
                    type: "histogram",
                };
                data = [trace1];
                layout = {
                    bargap: 0.05,
                    bargroupgap: 0.2,
                    barmode: "overlay",
                    title: "Auto consommation",
                    xaxis: {title: "Puissance"},
                    yaxis: {title: "Fréquence"}
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
        });

        $('#heatmap').on('click',function () {
             j=$("#SiteSelector").val();
            if (btn===1){
                data = [{
                    z:consomation_heatmap1Tot[j],
                    colorscale: 'Electric',
                    type: 'heatmap'
                }];
                layout={
                    xaxis: {autorange: 'reversed'}
                };
                Plotly.newPlot('chart_consomtation', data,layout,{responsive:true});
            }
            if (btn===2){
                data = [{
                    z:production_heatmap,
                    colorscale: 'Electric',
                    type: 'heatmap'
                }];
                Plotly.newPlot('chart_consomtation', data, {yflip:true}, {responsive:true},);
            }
            if (btn===3){
                data = [{
                    z:auto_consomer_heatmap1Tot[j],
                    colorscale: 'Electric',
                    type: 'heatmap'
                }];
                Plotly.newPlot('chart_consomtation', data, {yflip:true}, {responsive:true},);
            }
            if (btn===4){
                data = [{
                    z:cedee_heatmap,
                    colorscale: 'Electric',
                    type: 'heatmap'
                }];
                Plotly.newPlot('chart_consomtation', data, {yflip:true}, {responsive:true},);
            }
            if (btn===5){
                data = [{
                    z:importer_heatmap1Tot[j],
                    colorscale: 'Electric',
                    type: 'heatmap'
                }];
                Plotly.newPlot('chart_consomtation', data, {yflip:true}, {responsive:true},);
            }
        });
        $('#donutsChart').on('click',function () {
             j=$("#SiteSelector").val();
            if (btn===1){
                data = [{
                    values: Object.values(PH_consomation[j]),
                    labels: ['jour','pointe ete','soir','nuit'],
                    domain: {column: 0},
                    name: 'Consommation',
                    hoverinfo: 'label+percent+name',
                    hole: .4,
                    type: 'pie'
                }];
                layout = {
                    title: 'Consommation',
                    showlegend: false,
                    annotations: [
                        {
                            font: {
                                size: 14
                            },
                            showarrow: false,
                            text: 'CM',
                        }
                    ]
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
            if (btn===2){
                data = [{
                    values: Object.values(PH_production),
                    labels: ['jour','pointe ete','soir','nuit'],
                    domain: {column: 0},
                    name: 'Production',
                    hoverinfo: 'label+percent+name',
                    hole: .4,
                    type: 'pie'
                }];
                layout = {
                    title: 'Production',
                    showlegend: false,
                    annotations: [
                        {
                            font: {
                                size: 14
                            },
                            showarrow: false,
                            text: 'CM',
                        }
                    ]
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
            if (btn===3){
                data = [{
                    values: Object.values(PH_auto_consome[j]),
                    labels: ['jour','pointe ete','soir','nuit'],
                    domain: {column: 0},
                    name: 'Consommation',
                    hoverinfo: 'label+percent+name',
                    hole: .4,
                    type: 'pie'
                }];
                layout = {
                    title: 'Auto-consommée',
                    showlegend: false,
                    annotations: [
                        {
                            font: {
                                size: 14
                            },
                            showarrow: false,
                            text: 'CM',
                        }
                    ]
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
            if (btn===4){
                data = [{
                    values: Object.values(PH_cedee),
                    labels: ['jour','pointe ete','soir','nuit'],
                    domain: {column: 0},
                    name: 'Consommation brute',
                    hoverinfo: 'label+percent+name',
                    hole: .4,
                    type: 'pie'
                }];
                layout = {
                    title: 'Injectée dans le réseau',
                    showlegend: false,
                    annotations: [
                        {
                            font: {
                                size: 14
                            },
                            showarrow: false,
                           
                        }
                    ]
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
            if (btn===5){
                data = [{
                    values: Object.values(PH_importer[j]),
                    labels: ['jour','pointe ete','soir','nuit'],
                    domain: {column: 0},
                    name: 'Consommation',
                    hoverinfo: 'label+percent+name',
                    hole: .4,
                    type: 'pie'
                }];
                layout = {
                    title: 'Achetée de la STEG',
                    showlegend: false,
                    annotations: [
                        {
                            font: {
                                size: 14
                            },
                            showarrow: false,
                            
                        }
                    ]
                };
                Plotly.newPlot('chart_consomtation', data, layout,{responsive: true});
            }
        });
        function res (url) {
            if (presence_data===0){
                presence_data=1;
                $.ajax({
                   url: "{{ path('project_results',{ 'id':project.id }) }}",
                    type : 'POST',
                    data : data,
                    dataType: 'json',
                    cache: false,
                    success: function (response) {
                       
                        for (let j = 0; j < response.consomation.length; j++) {

                                consomationTotTmp=[];
                                auto_consomeTotTmp=[];
                                importerTotTmp=[];

                            for (let i = 0; i < response.consomation[0].length ; i++) {
                                    dates = new Date(response.consomation[0][i][0] * 1000);
                                    year = dates.getFullYear();
                                
                                    consomationTotTmp[i]=response.consomation[j][i][1];
                                    auto_consomeTotTmp[i]=response.auto_consomer[j][i][1];
                                    importerTotTmp[i]=response.importer[j][i][1];
                        
                            
                                production[0][i] = dates;
                                production[1][i] = response.production[i][1];
                            
                            
                            
                                cedee[0][i]=dates;
                                cedee[1][i]=response.cedee[response.cedee.length-1][i][1];
                            };
                                
                                consomationTot.push(consomationTotTmp);
                                auto_consomeTot.push(auto_consomeTotTmp);
                                importerTot.push(importerTotTmp);
                        
                        };


                            PH_consomation=response.PH_consomationannuel;
                            PH_auto_consome=response.PH_auto_consomerannuel;
                            PH_importer=response.PH_importerannuel;
                            PH_production=response.PH_productionannuel;
                            PH_cedee=response.PH_cedeeannuel;
                           
                         
                            consomation_tmp=[];
                            production_tmp=[];
                            cedee_tmp=[];
                            importe_tmp=[];
                            auto_consome_tmp=[];

                            consomation_heatmap1=[];
                            importer_heatmap1=[];
                            auto_consomer_heatmap1=[];
                            production_heatmap1=[];
                            cedee_heatmap1=[];
                        for (let j = 0; j < response.consomation.length ; j++) {

                            
                            consomation_heatmap=[];
                            importer_heatmap=[];
                            auto_consomer_heatmap=[];

                             consomation_heatmap1=[];
                                production_heatmap1=[];
                                cedee_heatmap1=[];
                                importer_heatmap1=[];
                                auto_consomer_heatmap1=[];

                           consomation_tmp=[];
                                production_tmp=[];
                                cedee_tmp=[];
                                importe_tmp=[];
                                auto_consome_tmp=[];

                            for (let i = 0; i < response.consomation[0].length ; i++) {
                                

                                if(i>0 && (i%24)===0){

                                    consomation_heatmap1.push(consomation_tmp);
                                    production_heatmap1.push(production_tmp);
                                    cedee_heatmap1.push(cedee_tmp);
                                    importer_heatmap1.push(importe_tmp);
                                    auto_consomer_heatmap1.push(auto_consome_tmp);

                                    consomation_tmp=[];
                                    production_tmp=[];
                                    cedee_tmp=[];
                                    importe_tmp=[];
                                    auto_consome_tmp=[];
                                    consomation_tmp.push(response.consomation[j][i][1]);
                                    production_tmp.push(response.production[i][1]);
                                    cedee_tmp.push(response.cedee[response.consomation.length-1][i][1]);
                                    auto_consome_tmp.push(response.auto_consomer[j][i][1]);
                                    importe_tmp.push(response.importer[j][i][1]);
                                    

                                    
                                    

                                    
                            
                                }
                                else{
                                    consomation_tmp.push(response.consomation[j][i][1]);
                                    production_tmp.push(response.production[i][1]);
                                    cedee_tmp.push(response.cedee[response.consomation.length-1][i][1]);
                                    auto_consome_tmp.push(response.auto_consomer[j][i][1]);
                                    importe_tmp.push(response.importer[j][i][1]);

                                    
                                }

                            };
                            
                                consomation_heatmap=new transpose(consomation_heatmap1);
                                production_heatmap=new transpose(production_heatmap1);
                                cedee_heatmap=new transpose(cedee_heatmap1);
                                importer_heatmap=new transpose(importer_heatmap1);
                                auto_consomer_heatmap=new transpose(auto_consomer_heatmap1);

                                consomation_heatmap1Tot.push(consomation_heatmap);
                                importer_heatmap1Tot.push(importer_heatmap);
                                auto_consomer_heatmap1Tot.push(auto_consomer_heatmap);

                        };
                        
                        

                         for (let j = 0; j < response.consomation.length ; j++) {
                        auto_consommationS[j]=response.auto_consommationS[j];
                        consommationS[j]=response.consommationS[j];
                        importerS[j]=response.importerS[j];
                        t_auto[j]=response.t_auto[j];
                         };
                    
                       
                           

                        
                        

                        /*

                        consomationTot[0].sort(function(a,b) {
                            return new Date(a.start).getTime() - new Date(b.start).getTime()
                        });
                        production[0].sort(function(a,b) {
                            return new Date(a.start).getTime() - new Date(b.start).getTime()
                        });
                        cedee[0].sort(function(a,b) {
                            return new Date(a.start).getTime() - new Date(b.start).getTime()
                        });
                        importer[0].sort(function(a,b) {
                            return new Date(a.start).getTime() - new Date(b.start).getTime()
                        });
                        auto_consome[0].sort(function(a,b) {
                            return new Date(a.start).getTime() - new Date(b.start).getTime()
                        });*/
                        console.log(response.consomation);
                        console.log(consomation);
                        console.log("consomation");
                        console.log(consomation_heatmap1Tot);
                        console.log("production");
                        console.log(production_heatmap);
                        console.log("cedee");
                        console.log(cedee_heatmap);
                        console.log('autoconsomation');
                        console.log(auto_consomer_heatmap1Tot);
                        console.log("importe");
                        console.log(importer_heatmap1Tot);
                        console.log("production");
                        console.log(production);
                        console.log(consomationTot[0]);
                        console.log(consomationTot);
                        console.log(production[1]);
                        console.log("PH_consomation");
                        
                        console.log(PH_consomation);
                        console.log(PH_auto_consome);
                        console.log(response.PH_auto_consomerS);
                        console.log(t_auto[1]);


                           $('#auto_consommationS').empty();
                        $('#consommationS').empty();
                        $('#importerS').empty();
                        $('#prod25').empty();
                        $('#lcoe').empty();
                        $('#t_autoc').empty();
                        
                        $('#productible').empty();
                        $('#t_cd').empty();
                        $('#f_r').empty();
                        $('#coutproj').empty();
                        $('#capexres').empty();
                        $('#tricapres').empty();
                        $('#trires').empty();
                        $('#subvres').empty();
                        $('#omres').empty();
                        $('#annuiteres').empty();
                        $('#vanres').empty();
                        $('#puissanceres').empty();



                       $('#auto_consommationS').append("<td class="+"font-weight-bold"+">Economies d'énergie du site </td><td>"+Math.round(response.auto_consommationS[0],0)+"</td><td>kWh</td>");
                        $('#consommationS').append("<td class="+"font-weight-bold"+">Consommation du site</td><td>"+Math.round(response.consommationS[0],0)+"</td><td>kWh</td>");
                        $('#importerS').append("<td class="+"font-weight-bold"+">Energie achetée de la STEG</td><td>"+Math.round(response.importerS[0],0)+"</td><td>kWh</td>");
                        $('#prod25').append("<td class="+"font-weight-bold"+">Production PV sur 25 ans</td><td>"+Math.round(response.prod25,0)+"</td><td>kWh</td>");
                        $('#lcoe').append("<td class="+"font-weight-bold"+">LCOE sur 25 ans</td><td>"+(Math.round(response.lcoe*1000)/1000)+"</td><td>DT</td>");
                        $('#t_autoc').append("<td class="+"font-weight-bold"+"> Taux de couverture de la consommation</td><td>"+Math.round(response.t_auto[0]*100,2)+"</td><td>%</td>");
                        /*$('#t_couv').append("<td>"+Math.round(response.t_couverture*100,2)+"</td><td>%</td>");*/
                        $('#productible').append("<td class="+"font-weight-bold"+">Productible annuel</td><td>"+Math.round(response.productible,0)+"</td><td>kWh/kWc</td>");
                        $('#t_cd').append("<td class="+"font-weight-bold"+">Taux de l’énergie produite en excédant</td><td>"+Math.round(response.t_cedee*100,2)+"</td><td>%</td>");
                        $('#f_r').append("<td class="+"font-weight-bold"+">Facture de régularisation </td><td>"+Math.round(response.f_reg,0)+"</td><td>DT</td>");
                        $('#coutproj').append("<td class="+"font-weight-bold"+">Coùt du projet sur 25 ans</td><td>"+Math.round(response.coutproj,0)+"</td><td>DT</td>");
                        $('#capexres').append("<td class="+"font-weight-bold"+">Coùt d'investissement</td><td>"+Math.round(response.capex,3)+"</td><td>DT</td>");
                        $('#tricapres').append("<td class="+"font-weight-bold"+">TRI sur les capitaux propres</td><td>"+Math.round(response.tricap,2)+"</td><td>%</td>");
                        $('#trires').append("<td class="+"font-weight-bold"+"> TRI du projet  </td><td>"+Math.round(response.tri25,2)+"</td><td>%</td>");
                        $('#subvres').append("<td class="+"font-weight-bold"+">Subvention</td><td>"+((Math.round(response.subv,0)*Math.round(response.capex,0))/100)+"</td><td>DT</td>");
                        $('#omres').append("<td class="+"font-weight-bold"+">Coùt d'opération et maintenance </td><td>"+Math.round(response.opex[0],0)+"</td><td>DT</td>");
                        $('#annuiteres').append("<td class="+"font-weight-bold"+">Annuité</td><td>"+Math.round(response.annuite[5],0)+"</td><td>DT</td>");
                        $('#vanres').append("<td class="+"font-weight-bold"+"> VAN sur 25 ans  </td><td>"+Math.round(response.van,0)+"</td><td>DT</td>");
                        $('#puissanceres').append("<td class="+"font-weight-bold"+"> Puissance de la centrale  </td><td>"+Math.round(response.peak,2)+"</td><td>kWc</td>");

                        
                            if (response.annuite.length===0){
                                $('#annuiteres').hide();
                                $('#trires').hide();
                            }

                            if (response.f_reg==0){
                                
                                $('#f_r').hide();
                            }


                        
                         for (let j = 0; j < consomationTot.length ; j++) {
                                $('#SiteSelector').append("<option value="+j+">"+"Site"+j+"</option>"
                                );
                            };
                    }       
                });

            }
        }
        $(function () {
            res();
        })
    </script>
</div>
