{#
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
#}
<div class="form-group">
    <label class="form-control-label required" for="csvpuiss">Puissance [kWc]</label><button type="button" class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="Définir la puissance de la centrale photovoltaique">
                            ?
                        </button>  
    <input type="value" class="form-control"  name="csvpuiss" id="csvpuiss"  value="0" min="0">
</div>
<div class="form-group">
    <label class="form-control-label required" for="">Dégradation des performances des modules PV (%)</label><button type="button" class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="Définir la dégradation annuelle des performances des modules photovoltaiques (Cette valeur est définie généralement à 0.5%)">
                            ?
                        </button>  
    <input type="number" name="degradation" value="0.5" id="degradation" min="0" class="form-control">
</div>

<div class="form-group">
    <label class="form-control-label control-label required" for="csvimg">Courbe de production (csv)</label><button type="button" class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="Importer la courbe de production crée avec PVsyst">
                            ?
                        </button>  
    <div class="form-control-file" id="csvimg">
        <div class="dropzone" id="csvreader"></div>
    </div>
</div>
<script>
    
    Dropzone.autoDiscover = false;
    var dropzone_default = new Dropzone("#csvreader", {
        url: '{{ path('readcsv',{'id': project.id}) }}' ,
        dictDefaultMessage: "Importer votre fichier",
        maxFiles: 1,
        dictMaxFilesExceeded: 'Only 1 file can be uploaded',
        maxFilesize: 20,  // in Mb
        addRemoveLinks: false,
        acceptedFiles: ".csv",
        init: function () {
            this.on("maxfilesexceeded", function (file) {
                this.removeFile(file);
            });
            this.on("sending", function (file, xhr, formData) {
               formData.append('csvpuiss',$('#csvpuiss').val());
                // send additional data with the file as POST data if needed.
            });
            this.on("error", function (file) {
                 $('#errorprod').show();
                 $('#successprod').hide();
                 
            });
            this.on("success", function (file, response) {
                
                
                console.log(response.da);
                $('#successprod').show();
                $('#errorprod').hide();
                document.getElementById('prodavancer').removeAttribute('disabled');
            });
        }
    });
</script>