<form class="production" id="productionForm" action="{{ path('ninja',{'id':project.id}) }}"  enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="form-control-label required" for="raddatabase">Base de données irradiance</label>
                <select name="raddatabase" class="form-control" id="raddatabase">
                    <option value="merra2">MERRA-2 (global)</option>
                    <option value="sarah">CM-SAF SARAH</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="capacity">Puissance (kW)</label>
                <input type="number" class="form-control"  name="capacity" id="capacity" value="1" min="0" >
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="loss" >Pertes [%]</label>
                <input type="number" class="form-control" step="0.01" min="0" value=0.01  max="1" name="loss" id="loss">
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="tracking">Fixation</label>
                <select name="tracking" class="form-control" id="tracking">
                    <option value=0>Fixe</option>
                    <option value=1>1-axis (azimuth)</option>
                    <option value=2>2-axis (tilt & azimuth)</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="tilt" >Inclianison [°]</label>
                <input type="number" class="form-control" step="0.01" min="0" value=0  name="tilt" id="tilt">
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="loss" >Azimuth [°]</label>
                <input type="number" class="form-control" step="0.01" min="0" value=0  name="azimuth" id="loss">
            </div>
            <div class="text-center">
                <button type="button" onclick="productionSubmit()" class="btn-secondary btn">Continuer</button>
            </div>
        </div>
    </div>
</form>
{% block javascripts %}
    <script>
        function productionSubmit() {
            {% if not app.user %}
            window.location.replace('{{ path('security_login') }}')
            {% endif %};
            var data = $('#productionForm').serialize();
            var url = $('#productionForm').attr('action');
            data='&'+data+'&lon='+$('#lon').val()+'&lat='+$('#lat').val();
            console.log(data);
            
            $.ajax({
                url: url,
                type : 'POST',
                data : data,
                cache: false,
                dataType: 'json',
                success: function (response) {
                    console.log(response.data);
                    console.log(response.values);
                    console.log(response.elec);
                    console.log(response.dat);
                     $('#tabs-icons-text-3-tab').css("pointer-events"," visible");
                    $('#tabs-icons-text-2-tab').css("pointer-events"," none")
                    $('#tabs-icons-text-2').toggle();
                    $('#tabs-icons-text-3').toggle();
                    $('#tabs-icons-text-3-tab').addClass('active');
                    $('#tabs-icons-text-2-tab').removeClass('active');
                }
            });
            /*
            $.get( url ,data,function (dat) {
               console.log(dat);
            });
             */
            return false;
        };
    </script>
{% endblock %}
