<style>
    #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
<div class="card bg-secondary shadow border-0">
    <div class="card-header bg-transparent pb-5" >
        <div class="row text-center">
            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <button  class="btn btn-lg" type="button"  onclick="ninjabtn()">Ninja API</button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <button  class="btn btn-lg" type="button"  onclick="pvgisbtn()">PVGIS API</button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <button  class="btn btn-lg" type="button"  onclick="csvbtn()">Importer fichier PVsyst</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8">
               <div class="card-body">
                   {{include('project/map.html.twig') }}
               </div>
            </div>
            <div class="col-xl-4">
                <div class="card-body" id="ninjadiv" style="display: none">
                    {{ include('production/ninja.html.twig') }}
                </div>
                <div class="card-body" id="pvgisdiv" style="display: none">
                    {{ include('production/pvgis.html.twig') }}
                </div>
                <div class="card-body" id="csvdiv" style="display: none">
                    {{ include('production/csvreader.html.twig') }}
                </div>
            </div>
              <button type="button" onclick="retourpvgis()" class="btn-secondary btn"style="width:100%">Retour</button>
        </div>
    </div>
  
</div>

{% block javascripts %}
    <script>
        /*
        function ninjabtn() {
            $('#ninjadiv').show();
            $('#pvgisdiv').hide();
            $('#csvdiv').hide();

        }
         */
        function pvgisbtn() {
            $('#ninjadiv').hide();
            $('#pvgisdiv').show();
            $('#csvdiv').hide();

        }
        function csvbtn() {
            $('#ninjadiv').hide();
            $('#pvgisdiv').hide();
            $('#csvdiv').show();

        }
        function retourpvgis(){
                    $('#tabs-icons-text-1-tab').css("pointer-events"," visible");
                    $('#tabs-icons-text-2-tab').css("pointer-events"," none")
                    $('#tabs-icons-text-1').toggle();
                    $('#tabs-icons-text-2').toggle();
                    $('#tabs-icons-text-1-tab').addClass('active');
                    $('#tabs-icons-text-2-tab').removeClass('active');
   };
    </script>
{% endblock %}
