{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xl">
            <div class="container  pb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-header bg-transparent pb-5">
                                <h1>Créer un nouveau projet</h1>

                                {{ include('project/_form.html.twig') }}

                                <a href="{{ path('project_index') }}">Retour à la liste</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
